@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// จริงๆต้องเป็น src: url('../fonts/SILPAKORN70yr/SILPAKORN70yr.ttf') format('truetype'); ใน css

@font-face {
  font-family: 'SILPAKORN70yr';
  src: url('/fonts/SILPAKORN70yr/SILPAKORN70yr.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SILPAKORN70yr';
  src: url('/fonts/SILPAKORN70yr/SILPAKORN70yrIta.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '2547_DAYIN01N';
  src: url('/fonts/2547_DAYIN01N.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '2548_D6N';
  src: url('/fonts/2548_D6N.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'can_Rukdeaw01';
  src: url('/fonts/can_Rukdeaw01.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'kt_smarn seree';
  src: url('/fonts/kt_smarn seree.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'PSL245pro';
  src: url('/fonts/PSL245pro.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'PSL256pro';
  src: url('/fonts/PSL256pro.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Pspimpdeed';
  src: url('/fonts/Pspimpdeed.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SILPAKORN70NEW';
  src: url('/fonts/SILPAKORN70NEW.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SILPAKORN70NEW';
  src: url('/fonts/SILPAKORN70NEW_Ita.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'SILPAKORN70NEW_Sh';
  src: url('/fonts/SILPAKORN70NEW_Sh.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SILPAKORN70NEW_Sh';
  src: url('/fonts/SILPAKORN70NEW_Sh_Ita.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}

// SitkaBanner

@font-face {
  font-family: 'SitkaBanner';
  src: url('/fonts/SitkaBanner/SitkaBanner-06.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SitkaBanner';
  src: url('/fonts/SitkaBanner/SitkaBanner-Bold-06.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SitkaBanner';
  src: url('/fonts/SitkaBanner/SitkaBanner-BoldItalic-06.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SitkaBanner';
  src: url('/fonts/SitkaBanner/SitkaBanner-Italic-06.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}

// SitkaDisplay

@font-face {
  font-family: 'SitkaDisplay';
  src: url('/fonts/SitkaDisplay/SitkaDisplay-05.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SitkaDisplay';
  src: url('/fonts/SitkaDisplay/SitkaDisplay-Bold-05.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SitkaDisplay';
  src: url('/fonts/SitkaDisplay/SitkaDisplay-BoldItalic-05.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SitkaDisplay';
  src: url('/fonts/SitkaDisplay/SitkaDisplay-Italic-05.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}

// SitkaHeading

@font-face {
  font-family: 'SitkaHeading';
  src: url('/fonts/SitkaHeading/SitkaHeading-04.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SitkaHeading';
  src: url('/fonts/SitkaHeading/SitkaHeading-Bold-04.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SitkaHeading';
  src: url('/fonts/SitkaHeading/SitkaHeading-BoldItalic-04.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SitkaHeading';
  src: url('/fonts/SitkaHeading/SitkaHeading-Italic-04.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}

// SitkaSubheading

@font-face {
  font-family: 'SitkaSubheading';
  src: url('/fonts/SitkaSubheading/SitkaSubheading-03.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SitkaSubheading';
  src: url('/fonts/SitkaSubheading/SitkaSubheading-Bold-03.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SitkaSubheading';
  src: url('/fonts/SitkaSubheading/SitkaSubheading-BoldItalic-03.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SitkaSubheading';
  src: url('/fonts/SitkaSubheading/SitkaSubheading-Italic-03.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}
// SitkaText

@font-face {
  font-family: 'SitkaText';
  src: url('/fonts/SitkaText/SitkaText-02.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SitkaText';
  src: url('/fonts/SitkaText/SitkaText-Bold-02.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SitkaText';
  src: url('/fonts/SitkaText/SitkaText-BoldItalic-02.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SitkaText';
  src: url('/fonts/SitkaText/SitkaText-Italic-02.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}

// SitkaSmall

@font-face {
  font-family: 'SitkaSmall';
  src: url('/fonts/SitkaSmall/SitkaSmall-01.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SitkaSmall';
  src: url('/fonts/SitkaSmall/SitkaSmall-Bold-01.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SitkaSmall';
  src: url('/fonts/SitkaSmall/SitkaSmall-BoldItalic-01.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SitkaSmall';
  src: url('/fonts/SitkaSmall/SitkaSmall-Italic-01.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
}