.admin-page {
  table.dataTable {
    thead {
      th {
        background: #fff;
        border-bottom: none;
        white-space: nowrap;
      }
    }
    tbody {
      td{
        vertical-align: middle;
      }
    }
    &.no-footer {
      border-bottom: 1px solid #dee2e6;
    }
  }
  
  .dataTables_wrapper {
    .dataTables_info {
      font-size: 12px;
      color: #3A3B40;
    }
    .dataTables_length select,
    .dataTables_filter input {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;
      padding: 2px 12px;
      &:focus {
        outline: 0;
      }
    }
    .dataTables_paginate {
      .paginate_button {
        color: #7F7F7F !important;
        transition: all 150ms;
        border: none;
        background: #fff;
        border-radius: 50%;
        &.current {
          border: none;
          background: #eee;
          color: #7F7F7F !important;
          &:hover {
            color: #7F7F7F !important;
            border: none;
            background: darken($color: #eee, $amount: 10);
          }
        }
        &:hover {
          color: #7F7F7F !important;
          border: none;
          background: darken($color: #eee, $amount: 5);
        }
        &.disabled {
          color: lighten($color: #7F7F7F, $amount: 35) !important;
          &:hover {
            color: lighten($color: #7F7F7F, $amount: 35) !important;
          }
        }
      }
    }
  }
}