// font family
$font_header : 'SILPAKORN70yr', serif;
$font_content : 'Sarabun', sans-serif;

// font weight
$font_Thin : 100;
$font_ExtraLight : 200;
$font_Light : 300;
$font_Regular : 400;
$font_Medium : 500;
$font_SemiBold : 600;
$font_Bold : 700;

// text color
$color_primary : #3A3B40;