.admin-page {
  background: #fff;
  h5 {
    font-size: 18px;
  }
  .form-group {
    label {
      font-size: 14px;
      color: #7F7F7F;
    }
    .note-toolbar {
      background: #f1eeebb3;
    }
    .note-editor.note-frame {
      border: 1px solid #ced4da;
      border-radius: 5px;
    }
  }
  .card {
    border-radius: 10px;
    margin-bottom: 16px;
  }
  .btn-primary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
    &:hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      color: #fff;
      background-color: #474d52;
      border-color: #474d52;
    }
  }
  .btn-submit {
    width: 100%;
    border-radius: 10px;
  }
  .file-input {
    .close {
      display: none;
    }
    .file-preview {
      margin-bottom: 10px;
      padding: 0;
      border: none;
      .file-drop-zone {
        margin: 0;
      }
    }
  }
  .table {
    .thin-cell {
      width: 1%;
      white-space: nowrap;
    }
  }
  .header-text {
    font-size: 24px;
    font-family: "SILPAKORN70yr", serif;
    padding: 0;
    margin-bottom: 16px;
    text-align: unset;
  }
}

@media (min-width: 768px) {
  .admin-page {
    .btn-submit {
      width: auto;
      padding: 10px 40px;
      border-radius: 20px;
      margin: auto;
      display: block;
    }
  }
}