@import 'fonts';
@import 'variables';
@import 'table';

* {
  font-family: $font_content;
}

body {
  color: $color_primary;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #page-content-wrapper {
    flex: 1 0 auto;
  }
}

.font-header {
  font-family: $font_header;
}

.font-italic {
  font-style: italic;
}

$font-weights-name: 'Thin', 'ExtraLight', 'Light', 'Regular', 'Medium', 'SemiBold', 'Bold';
$font-weights: 100, 200, 300, 400, 500, 600, 700;
@for $i from 1 through length($font-weights) {
  .font-#{nth($font-weights-name, $i)} {
    font-weight: nth($font-weights, $i) !important;
  }
}

$font-sizes: 10px, 12px, 13px, 14px, 15px, 16px, 18px, 20px;
@each $font-size in $font-sizes {
  .text-#{$font-size} {
    font-size: $font-size !important;
  }
}

.mb-10px {
  margin-bottom: 10px !important;
}

.link-primary {
  color: #000000;
  &:focus,
  &:hover {
    color: #000000;
  }
}

.note-editor .note-toolbar .note-dropdown-menu,
.note-popover .popover-content .note-dropdown-menu {
  white-space: nowrap;
  padding: 8px 16px 8px 0;
}

@import 'sidebar';

@import 'header';

@import 'custom';

@import 'footer';