body {
  background: #F1EEEB;
}

a {
  color: $color_primary;
}

.language-th,
.language-eng {
  word-break: break-word;
}

.carousel {
  .carousel-inner {
    height: 50vh;

    .carousel-item {
      height: 100%;

      // height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .hero-name-text {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 1;
    width: 100%;

    h1 {
      font-size: 30px;
      text-align: center;
      color: #fff;
    }
  }
}

.header-text {
  color: $color_primary;
  font-size: 12px;
  font-weight: $font_Medium;
  padding: {
    top: 20px;
    bottom: 20px;
  };
}

.content {
  font-size: 12px;

  .header-text {
    font-family: $font_header;
    font-size: 19px;
    font-weight: $font_Regular;
    padding: 0;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 2.5px;
  }

  h6 {
    font-size: 12px;
    font-weight: $font_SemiBold;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-us-text {
    padding-top: 15px;

    .img-sm {
      float: left;

      margin: {
        bottom: 16px;
        right: 16px;
      }

      ;
    }
  }

  .card {
    background: none;
    box-shadow: none;
    border: none;
    color: $color_primary;

    .card-img {
      border-radius: 0;
      height: 196px;
      overflow: hidden;
      position: relative;

      img {
        transition: all 150ms;
      }

      .hover-img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 150ms ease;
        &:hover {
          opacity: 1;
        }
      }
    }

    .card-youtube {
      border-radius: 0;
      height: 215px;
    }
    
    .card-youtube-text {
      p {
        margin: 0;
      }
    }

    .card-body {
      padding: 20px 0 0;

      .card-title {
        font-size: 12px;
        font-weight: $font_SemiBold;
        margin: 0;
      }

      .card-text {
        font-size: 10px;
        font-weight: $font_Light;
        font-style: italic;
        margin: 0;
      }

      hr {
        margin: 7px 0;
        border-top: 2px solid $color_primary;
        width: 20px;
      }
    }

    &.card-customer-voices {
      width: 265px;
      cursor: grab;
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        .person-img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 10px;
        }
        .card-title {
          font-size: 12px;
          font-weight: $font_SemiBold;
        }
        .card-text {
          font-weight: $font_Regular;
          margin: 0;
          font-style: unset;
        }
        .col-divider {
          margin: 0 7px;
          height: 10px;
          width: 1px;
          background: $color_primary;
        }
      }

      &:focus {
        outline: 0;
      }
      &:active {
        cursor: grabbing;
      }
    }
  }

  .card-link:hover {
    .card {
      .card-title {
        text-decoration: none;
      }
      .hover-img {
        opacity: 1;
      }
    }
  }
}

.additional-services {
  .card {
    max-width: 275px;
  }
}

.row-divider {
  height: 2px;
  background: $color_primary;
  width: 15px;
  margin: 8px 0;
}

.col-divider {
  color: $color_primary;
  font-size: 10px;
  font-weight: $font_SemiBold;
}

.row-p10 {
  margin: 0 -10px;

  .col {
    padding: 0 10px;
  }

  .col-auto {
    padding: 0 10px;
  }
}

.row-p20 {
  margin: 0 -20px;

  .col {
    padding: 0 20px;
  }

  .col-auto {
    padding: 0 20px;
  }
}

.row-p125 {
    margin: 0 -12.5px;
  & > * {
    padding: 0 12.5px;
  }
}

.main-image {
  max-width: 545px;

  img {
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.slick-vertical {
  .slick-slide {
    transition: all 150ms;
    margin-bottom: 5px;

    &:focus {
      border-color: $color_primary;
      outline: 0;
    }
  }
}

.doing-carousel {
  .sub-image {
    height: 60px;

    img {
      cursor: pointer;
    }
  }
}

.service-row {
  padding: 50px 0;
}

.service-slick {
  max-width: 980px;
  margin: 0 auto;

  .slick-slide {
    height: 200px;
    margin-right: 15px;
  }
}

.noslide-image {
  max-width: 685px;
  height: 250px;
}

.content-container {
  padding-bottom: 50px;

  .slick-slide:focus {
    outline: 0;
  }
}

.nav-tabs {
  background: #eee;

  .nav-link:focus {
    outline: 0;
  }
}

.comment-carousel {
  max-width: 925px;
  margin: auto;
}

#category-contents-filter a {
  &.active {
    color: lighten($color: #827E73, $amount: 10);
  }
  &:hover {
    color: #827E73;
  }
}

.contact-us {
  .form-group {
    max-width: 270px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      border-left: 1px solid #3A3B40;
      background: #F1EEEB;
      right: -8px;
      top: -8px;
      transform: rotate(-45deg);
    }
    .form-control {
      border: 1px solid $color_primary;
      height: 35px;
      font-size: 12px;
      font-weight: 300;
      color: #000000;
      font-style: italic;
      background: #F1EEEB;
      border-radius: 0;

      padding: {
          left: 10px;
          right: 10px;
      }

      ;
      margin-bottom: 25px;

      &:focus {
          outline: 0;
          box-shadow: none;
      }
    }
    textarea.form-control {
      min-height: 75px;
      resize: none;
    }
  }
  .btn-submit {
    color: #FFFFFF;
    background: #3A3B40;
    border: none;
    border-radius: 0;
    padding: 4px 15px;
    font-weight: $font_Medium;
    font-style: italic;
    width: 270px;
    margin: auto;
    display: block;
    transition: all 150ms ease-in-out;
    &:hover {
      background: darken(#3A3B40, 10);
    }
  }
}

.location-text {
  max-width: 365px;
  margin: auto;
  text-align: center;
}

.qr-card {
  max-width: 585px;
  margin: auto;
}

.qr-contrainer {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  column-gap: 30px;
  @media (min-width: 576px) {
    grid-auto-flow: column;
  }
}

.qr-header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  .qr-img {
    max-width: 155px;
  }
}


.text-status {
  position: relative;
  display: flex;
  align-items: center;
  &::after {
    width: 10px;
    height: 10px;
    background: #000000;
    content: '';
    display: block;
    border-radius: 50%;
    margin-left: 10px;
  }
  &.success:after {
    background: #28a745;
  }
  &.danger:after {
    background: #dc3545;
  }
}

.input-password {
  position: relative;
  .far {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.file-input {
  .file-drop-zone.clickable {
    transition: all 150ms;
    &:focus,
    &:hover {
      border: 1px dashed #bbb;
      box-shadow: 0 0 2px black;
    }
    .file-preview-thumbnails {
      cursor: pointer;
    }
  }
}

.pagination {
  justify-content: center;
  margin: 16px 0;
  .page-item {
    .page-link {
      color: #7F7F7F !important;
      transition: all 150ms;
      border: none;
      background: #fff;
      border-radius: 50%;
      margin-left: 5px;
      font-size: 14px;
      &:hover {
        background: darken($color: #fff, $amount: 5);
      }
    }
    &.active {
      .page-link {
        border: none;
        background: #7F7F7F;
        color: #eeeeee !important;
      }
    }
    &.disabled {
      .page-link {
        opacity: 0.7;
      }
    }
  }
}

.label-minwidth {
  min-width: 70px;
}

.doing-detail {
  .font-SemiBold {
    font-size: 13px;
  }
}

.list-group-item {
  cursor: default;
}

.yt-carousel {
  .card {
    margin: 0 7.5px;
  }
  .slick-slide:focus {
    outline: 0;
  }

  .card-youtube-text {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}

.slick-arrow {
  display: none;
}

.slick-dots li button:focus:before {
  opacity: 0.25;
}

.slick-dots li.slick-active button:focus:before {
  opacity: 0.75;
}

.main-carousel.slick-initialized .slick-slide {
  height: 0;
  &.slick-active {
    height: auto;
  }
}

.slick-dotted.slick-slider {
  margin: 0 auto;
  .slick-dots {
    position: unset;
  }
}

.slick-vertical {
  padding: 20px 0;
  .slick-prev {
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    top: 0;
  }
  .slick-next {
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    bottom: 0;
    top: unset;
  }
}

.noti-row {
  display: flex;
  justify-content: center;
  height: 0;
  transition: all 350ms cubic-bezier(0.4, 0, 1, 1);
  &::after {
    content: unset !important;
  }
  &.show {
    padding: 10px 0;
    height: auto;
  }
  #toast-container {
    position: static;
    width: 100%;
    .toast.toast-success {
      margin: 0;
      width: 100%;
      .toast-close-button {
        display: none;
      }
    }
    div,
    div:hover {
      box-shadow: none;
    }
  }
}

@media (min-width: 400px) {
  .doing-carousel {
    .sub-image {
      height: 75px;
    }
  }
}

@media (min-width: 576px) {
  .about-us {
    .img-sm {
      width: 280px;
      height: 390px;
    }
  }

  .service-slick {
    .slick-slide {
      height: 300px;
      margin-right: 15px;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }

  .slick-arrow {
    display: unset;
  }
}

@media (min-width: 768px) {
  .main-image {
    height: 366.88px;
  }

  .doing-carousel {
    width: 120px;
  }

  .service-row {
    padding: 100px 0;
  }

  // .content-container {
  //   padding-bottom: 80px;
  // }

  .noslide-image {
    height: 350px;
  }
}

@media (min-width: 992px) {
  .carousel {
    .carousel-inner {
      height: 100vh;
    }
  }

  .about-us {
    .img-lg {
      width: 570px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .main-image {
    max-width: 100%;
    height: 100%;
  }

  .doing-text {
    position: absolute;
    width: 230px;
  }

  .service-row {
    padding: 200px 0;
  }

  .service-slick {
    .slick-slide {
      height: 465px;
    }
  }

  .noslide-image {
    height: 465px;
  }

  // .main-image {
  //   img {
  //     object-fit: contain;
  //   }
  // }
}

@media (min-width: 1200px) {
  .additional-services {
    .card {
      .card-img {
        height: 275px;
      }
    }
  }

  .doing-text {
    width: 310px;
  }

  .service-slick {
    .slick-slide {
      height: 500px;
    }
  }

  .noslide-image {
    max-width: 100%;
    height: 100%;
  }
}

@media (min-width: 1366px) {
  #wrapper:not(.admin-page) {
    .container {
      max-width: 1275px;
    }
  }
}

// @media (min-width: 1475px) {
//   #wrapper:not(.admin-page) {
//     .container.doing-container {
//       max-width: 1475px;
//     }
//   }
// }

// @media (min-width: 1675px) {
//   #wrapper:not(.admin-page) {
//     .container.doing-container {
//       max-width: 1575px;
//     }
//   }
// }