.page-footer {
  padding: 25px 0;
}

.page-footer {
  .logo {
    display: flex;
    justify-content: center;
  }
  .navbar {
    justify-content: center;
    align-items: baseline;
    margin-bottom: 4px;
    a {
      color: $color_primary;
      font-size: 12px;
      font-weight: 500;
      font-style: italic;
    }
    // .col-auto {
    //   padding: 0 7.5px;
    // }
  }
  .navbar-ss {
    display: flex;
    justify-content: center;
    a {
      margin: 0 15px;
    }
  }
}