.header {
  color: #000;
  z-index: 997;
  width: 100%;
  .nav-item {
    .nav-link {
      color: $color_primary;
    }
  }

  &.header-darken {
    color: #fff;
    background: rgba(#000, 0.1);
    .nav-item {
      .nav-link {
        color: #fff;
      }
    }
    svg line {
      stroke: #fff;
    }
  }
}

.btn-sidenav-toggle {
  display: flex;
  padding: 5px;
  margin-left: -5px;
  background: none;
  border: none;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}