#sidebar {
  width: 310px;
  height: 100vh;
  padding: 0 45px;
  position: fixed;
  top: 0;
  left: -310px;
  z-index: 999;
  background: #F1EEEB;
  transition: all 300ms;
  .icon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    margin: 0 -5px;
  }
  .icon {
    padding: 5px;
    cursor: pointer;
    transition: all 200ms;
    &:hover {
      transform: scale(1.25);
    }
  }
  ul {
    li {
      a {
        color: #000;
        padding: 10px 0;
        font-size: 14px;
        display: block;
        transition: all 200ms;
        &:hover {
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
  }
  .nav-link {
    color: $color_primary;
    padding: 0;
  }
  &.active {
      left: 0;
  }
}

.sidebar-overlay {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  &.active {
    display: block;
    opacity: 1;
  }
}

.admin-page {
  #sidebar {
    width: 250px;
    padding: 15px 20px;
    flex: 0 0 auto;
    li {
      padding-left: 15px;
      margin: auto;
    }
  }
  .sidebar-heading {
    display: flex;
    justify-content: center;
    svg {
      width: 100%;
      height: 100%;
      max-width: 150px;
    }
  }
  // #page-content-wrapper {
  //   width: 100%;
  // }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .admin-page {
    #sidebar {
      left: 0;
    }
    #page-content-wrapper {
      margin-left: 250px;
    }
  }
}